@import '_settings';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #262626;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    padding-bottom: 20px;
    background: #000 url(../images/stardust.png) repeat;
    // color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

#artist-info {
    img {
        float:right;
        margin-left:5px;
    }
/*    .artist-bio {
        margin-right:50px;
    }*/
}

#similar-artists li {
    display: inline;
    list-style: none;
    margin-right: 10px;

    a{
        cursor: pointer;
    }
}


#flash-player{
    object, embed{
        width: 100%;
    }
}

// .homepage-tabs{
//     margin:0 auto;
// }

.navigation__bar{
    background-color: #333333;
    max-width: 100%;
    padding: 0 5%;

    .search__form{
        padding-top: 20px;
    }
}


.homepage-tabs{
    display:block;

    a:hover{
        background-color: $secondary-color;
    }
    .homepage-tabs--active{
        background-color: $primary-color !important;
    }
}

.loader__image{
    margin: 30px auto;
    display: block;
}

.pagination--events{
    margin-top: 5px;
}

.events__list{

    li{
        // display: inline;
        border-top: 1px solid;
        // border-bottom: 1px solid;
        margin: 0px 2% 20px 2%;
        padding: 1%;

        img{
            float: left;
            margin-right: 10%;
            width: 128px;
            height: 128px;
        }
    }

    .events__list--even{
        // background-color: #9DB8BC;
    }

    .events__list--odd{
        background-color:rgba(51,51,51,0.4);
        // background-color: #D1DEE0;
    }

    li h5 {
        // background: #fff;
        // color: #2d434e;

        // margin-top: 10em;
        padding: 0.5em;
        font-weight: 400;
        opacity: 1;
        -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
        transition: opacity 0.15s, transform 0.15s;
        -webkit-transform: scale3d(0.9,0.9,1);
        transform: scale3d(0.9,0.9,1);
    }

    li:hover h5 {
        opacity: 1;
        -webkit-transform: scale3d(0.92,0.92,0.92);
        transform: scale3d(0.92,0.92,0.92);
    }


}

//artist list styles

.artist-list{
    margin: 0 auto;

    .artist-list__item{
        // max-width: 250px;
        // max-height: 250px;
        // margin-bottom: 10px;
    }

    figure {
        position: relative;
        // float: left;
        overflow: hidden;
        margin: 10px 1%;
        // min-width: 320px;
        // max-width: 480px;
        // max-height: 360px;
        // width: 48%;
        // height: auto;
        // background: #3085a3;
        text-align: center;
        cursor: pointer;

            img {
                position: relative;
                display: block;
                // min-height: 100%;
                // max-width: 100%;

                height: 250px;
                width: 250px;

                opacity: 0.8;
                border: 1px solid $aluminum;
            }

            figcaption {
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            figcaption::before,
            figcaption::after {
                pointer-events: none;
            }

            figcaption,
            figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            /* Anchor will cover the whole item by default */
            /* For some effects it will show as a button */
            figcaption > a {
                z-index: 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size: 0;
                opacity: 0;
            }

            h2 {
                word-spacing: -0.15em;
                font-weight: 300;
            }

            h2 span {
                font-weight: 800;
            }

            h2,
            p {
                margin: 0;
            }

            p {
                letter-spacing: 1px;
                font-size: 68.5%;
            }
    }
}

// steve style

figure.artist-list__artist {
    z-index: auto;
    overflow: visible;
    // background: #000;

    // background: -webkit-linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
    // background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
}

figure.artist-list__artist:before,
figure.artist-list__artist h2:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.artist-list__artist:before {
    box-shadow: 0 3px 30px rgba(0,0,0,0.8);
    opacity: 0;
}

figure.artist-list__artist figcaption {
    z-index: 1;
}

figure.artist-list__artist img {
    opacity: 1;
    // -webkit-transition: opacity 0.35s;
    // transition: opacity 0.35s;

    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}

figure.artist-list__artist h2,
figure.artist-list__artist p {
    background: #fff;
    color: #2d434e;
}

figure.artist-list__artist h2 {
    position: relative;
    margin-top: 2em;
    padding: 0.25em;
}

figure.artist-list__artist h2:before {
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.artist-list__artist p {
    margin-top: 10em;
    padding: 0.5em;
    font-weight: 400;
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(0.9,0.9,1);
    transform: scale3d(0.9,0.9,1);
}

figure.artist-list__artist:hover:before {
    opacity: 1;
}

figure.artist-list__artist:hover img {
    -webkit-transform: perspective(1000px) translate3d(0,0,21px);
    transform: perspective(1000px) translate3d(0,0,21px);

    // opacity: 0.6;
}

figure.artist-list__artist:hover h2:before {
    opacity: 0;
}

figure.artist-list__artist:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.location-subheading--top-artists{
    margin: 0 0 0 2%;
    color: $primary-color;
    small{
        color: $ghost;
    }
}

.search-button--icon{
    background: $primary-color url('../images/ic_search_white_36dp.png') no-repeat 50% 0;
}


//spinner

.spinner {
  margin: 30px auto;
  width: 50px;
  height: 50px;
  border: solid $primary-color;
  border-width: 3px 0px 0px 0px;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;

  -webkit-animation: spin 0.7s infinite linear;
     -moz-animation: spin 0.7s infinite linear;
       -o-animation: spin 0.7s infinite linear;
          animation: spin 0.7s infinite linear;
}

@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}

@keyframes spin{
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

#artist-data{
    margin-top: 20px;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*    .container {
        max-width: 730px;
    }*/

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

}

