<form novalidate>
    <div class="row">
        <div class="large-6 large-offset-3 columns">
            <div class="row collapse postfix-round">
                <div class="small-9 columns">
                    <input type="text" ng-model="artist.name" placeholder="Search for Artist/Band">
                </div>
                <div class="small-3 columns">
                    <button ng-click="look_up_artist(artist)" ng-class="{disabled: !artist.name}" class="button postfix">Go</button>
                </div>
            </div>
        </div>
    </div>
</form>
