<!-- <span>{{1288323623006 | date:'medium'}}</span><br> -->

<div class="pagination--events pagination-centered">
    <ul class="pagination">
    <li class="arrow" ng-class="{unavailable: currentPage == 1}"><a ng-click="(currentPage == 1) || updateEventPage(currentPage - 1)">&laquo;</a></li>

        <li ng-repeat="n in [] | range:10" ng-class="{'current': (n == currentPage)}">
            <a ng-click="(currentPage == n) || updateEventPage(n)">
                {{n}}
            </a>
        </li>

        <li class="arrow" ng-class="{unavailable: currentPage == 10}"><a ng-click="(currentPage == 10) || updateEventPage(currentPage + 1)">&raquo;</a></li>
    </ul>
</div>

<img class="loader__image" ng-hide="events" src="images/loading.gif" alt="Loading..."/>


<ul class="no-bullet events__list">
    <li class="clearfix" ng-repeat="event in events | orderBy: 'start_time'" ng-class-odd="'events__list--odd'" ng-class-even="'events__list--even'">
        <a class="right button" ng-href="{{event.url}}">More info &raquo;</a>
        <img ng-if="event.image.medium.url" ng-src="{{event.image.medium.url}}" alt=""/>
        <img ng-if="!event.image.medium.url" src="images/imageNotFound.jpg" alt="Image not available"/>

        <h5 class="text-center">{{event.title}}</h5>
        <span>
            {{event.start_time | dateFormat:'EEEE d MMMM, h:mma'}} <br>
            {{ event.venue_name }} - {{ event.region_name }}
        </span>

    </li>
</ul>
