<div class="spinner" ng-hide="hypedArtists"></div>

<ul class="artist-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
    <li class="artist-list__item" ng-repeat="artist in hypedArtists">
        <a ui-sref="look-up-artist({artist: artist.name})">
            <figure class="effect-steve">
                <img ng-src="{{artist.image[2]['#text']}}" alt=""/>
                <figcaption>
                    <!-- <h2>{{artist.name}}</h2> -->
                    <p>{{artist.name}}</p>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
