<img class="loader__image" ng-hide="topArtists" src="images/loading.gif" alt="Loading..."/>

<h4 ng-show="topArtists"> <small>Top artists in:</small> {{location_country}} </h4>

<ul class="artist-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
    <li class="artist-list__item" ng-repeat="artist in topArtists">
        <a ui-sref="look-up-artist({artist: artist.name})">
            <figure class="effect-steve">
                <img ng-src="{{artist.image[2]['#text']}}" alt=""/>
                <figcaption>
                    <!-- <h2>{{artist.name}}</h2> -->
                    <p>{{artist.name}}</p>
                </figcaption>
            </figure>
        </a>
    </li>
</ul>
