<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/main">Home</a></li>
    <li class="active"><a ng-href="#">About</a></li>
    <li><a ng-href="#/new">New page</a></li>
  </ul>
  <h3 class="text-muted">angular app</h3>
</div>

<div ng-controller="NewCtrl">
  <form novalidate class="simple-form">
    Song: <input type="text" ng-model="song.name" /><br />
    <button ng-click="update(song)">SAVE</button>
  </form>

   <pre>form = {{song | json}}</pre>
  <pre>master = {{master | json}}</pre>

</div>

