<!-- <div ng-controller="SongCtrl"> -->
<!-- <div> -->

<!--     <div class="header">
        <a ui-sref="home"><h3 class="text-muted">angular music app</h3></a>
    </div> -->

        <div ng-include="'views/templates/nav-bar.html'"></div>


    <div id="music-data">


        <br>


        <div class="row">
            <div class="large-6 columns" ng-show="artistData" ng-include="'views/templates/artist-info.html'"></div>
            <div class="large-6 columns" ng-Playlistwidget data="{{playlistValue}}" id="flash-player"></div>
        </div>


        <!-- <div class="row">
            <div class="col-md-12" ng-show="artistEvents" ng-include="'views/templates/events.html'"></div>
        </div> -->

        <div ng-show="artistData" ng-include="'views/templates/related-artists.html'"></div>
    </div>

<!-- </div> -->
