<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li class="active"><a ng-href="#/new">New page</a></li>
  </ul>
  <h3 class="text-muted">angular music app</h3>
</div>

<div class="panel panel-success" ng-repeat="track in something.SongID">
	<p>Track name: {{ track }}</p>
	<!-- <p>Album release date: {{ track.album.released }}</p>
	<p>Spotify id: {{track['external-ids'][0].id}} </p> -->

	<!-- <span ng-repeat="obj in track.external-ids">  
			<p>Spotify id: {{ obj.id }}</p>
		</span> -->
	
</div>


<p> test </p>